{% extends "inicio.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <title>Qatar 2022</title>
</head>
<body>
  {% block contenido %}
    <main>     
        <div class="album py-5 bg-light">
          <div class="container">      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
              <div class="col"> 
                <div class="card shadow-sm">                  
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="84" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Argentina</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">ARGENTINA</text>
                    <image href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/135px-Flag_of_Argentina.svg.png" />
                  </svg>
                  <image href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/135px-Flag_of_Argentina.svg.png" />
                  <div class="card-body">                                     
                    <p class="card-text">Dos veces campeón del mundo, dos sub-campeonatos </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a class="btn btn-primary" href="/DataMundial/argentina" style="color:#0b0b0b">Ver</a>               
                      </div>                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col"> 
                <div class="card shadow-sm">                  
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="84" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Mexico</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="60%" y="50%" fill="#eceeef" dy=".3em">  MEXICO</text>
                    <image href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Flag_of_Mexico.svg/150px-Flag_of_Mexico.svg.png" />
                  </svg>
                  <image href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Flag_of_Mexico.svg/150px-Flag_of_Mexico.svg.png" />
                  <div class="card-body">                                     
                    <p class="card-text">Dos veces anfitrión del mundial, participo 17 veces</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a class="btn btn-primary" href="/DataMundial/mexico" style="color:#0b0b0b">Ver</a>               
                      </div>                      
                    </div>
                  </div>
                </div>
              </div>                      
              <!-- AGREGAR CODIGO SIGUIENTE PAIS-->
              <div class="col"> 
                <div class="card shadow-sm">                  
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="84" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>USA</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="70%" y="50%" fill="#eceeef" dy=".3em">  USA</text>
                    <image href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/160px-Flag_of_the_United_States.svg.png" />
                  </svg>
                  <image href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/160px-Flag_of_the_United_States.svg.png" />
                  <div class="card-body">                                     
                    <p class="card-text">Su mejor actuacion fue en el mundial de 1930 (3° puesto)</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a class="btn btn-primary" href="/DataMundial/usa" style="color:#0b0b0b">Ver</a>               
                      </div>                      
                    </div>
                  </div>
                </div>
              </div>                      
              <!-- AGREGAR CODIGO SIGUIENTE PAIS-->
            </div>
          </div>                 
     </main>
  {% endblock%}
</body>
</html>