{% extends "inicio.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <title>Qatar 2022</title>
</head>
<body>
  {% block contenido %}
    <main>     
        <div class="album py-5 bg-light">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Argentina</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Argentina</text></svg>
                  <div class="card-body">
                    <p class="card-text">Dos veces campeón del mundo, dos sub-campeonatos </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a class="py-2 d-none d-md-inline-block" href="/DataMundial/argentina" style="color:#0b0b0b">Ver</a>
                        
                      </div>                      
                    </div>
                  </div>
                </div>
              </div>      
      </main>
  {% endblock%}
</body>
</html>